.button {
  padding: 15px 30px;
  border-radius: 5px;
  margin: 20px 0 0;
  text-decoration: none;
  font-weight: 400;
  transition: transform 150ms, box-shadow 150ms;
  box-shadow: 0 3px 6px rgba( 0, 0, 0, .16);
  min-width: 200px;
  text-align: center;
  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }
}

.button-primary {
  background-color: #EFBE66;
  color: #fff;
  &:hover {
    background-color: #56b1d6;
  }
}

.scroll-button {
  display: inline-block;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  line-height: 1;
  img {
    height: 20px;
    width: 20px;
  }
}

blockquote {
  border-left: 15px solid #eee;
  margin: 20px 0;
  padding-left: 40px;
}

.text-center {
  text-align: center;
}
