footer {
	background-color: #eee;
	padding: 10px 0;
	.padding-wrapper {
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr;
	}
  .credits a {
    text-decoration: underline;
    text-decoration-skip: ink;
  }
  .legal p {
  	margin: 0;
  }
  .social {
  	text-align: right;
  	img {
  		height: 25px;
  		width: 25px;
  		color: #959595;
      margin: 0 4px;
  	}
  }
}
