.page-content .wpcf7 {
  background-color: #B8C6D1;
  border-radius: 5px;
  padding: 20px;
}

.wpcf7-form {
  padding-bottom: 20px;
}

.wpcf7 input:not(.wpcf7-submit),
.wpcf7 textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 5px;
}

.wpcf7 label {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 0 20px;
}

.wpcf7 h3 {
  background-color: #2b3460;
  padding: 5px 20px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wpcf7-submit {
  margin: 20px 20px 0;
  padding: 12px 30px;
  border-radius: 5px;
  background-color: #EFBE66;
  color: #fff;
  border: 0;
  font-size: 1.125em;
  font-weight: 400;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  cursor: pointer;
  transition: all 150ms ease-in-out;
  &:hover {
    background-color: #EDD1A0;
    cursor: pointer;
    transform: translateY(-2px);
  }
}

div.wpcf7-response-output {
  margin: 20px;
}

.wpcf7-recaptcha {
  padding: 0 20px;
}

@media (max-width: 580px) {
  .page-content .wpcf7 {
    padding: 0;
  }
}