input,
select,
textarea {
  border: 1px solid #ccc;
  padding: 10px 5px;
  color: #333;
  &:focus {
    outline-color: #009ddc;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

input[type='checkbox'] {
  vertical-align: top;
  border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  cursor: pointer;
  display: inline-block;
  margin: -4px 4px 0 0;
  height: 20px !important;
  clear: none;
  outline-color: #009ddc;
  padding: 0 !important;
  text-align: center;
  vertical-align: top;
  width: 20px;
  min-width: 20px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.05s border-color ease-in-out;
  transition: 0.05s border-color ease-in-out;
  &:checked::before {
    content: '✔';
    width: 20px;
  }
}

input[type='button'] {
  padding: 15px 30px;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  text-align: center;
  background-color: #efbe66;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}

.nf-form-fields-required {
  margin-bottom: 20px;
  font-style: italic;
}

.nf-field-element {
  h3 {
    margin-top: 0;
    padding-top: 0;
    color: #013167;
    text-transform: uppercase;
  }
}

.nf-form-title h3 {
  display: none;
}

.checkbox-standout {
  padding: 20px;
  background-color: #e0e0e0;
  margin: 40px 0;
}

.nf-response-msg {
  padding: 20px;
  display: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 10px solid #eeb043;
}

.fa-info-circle:before {
  content: '' !important;
}
