header {
  display: grid;
  display: -ms-grid;
  grid-template-rows: 1fr 80%;
  -ms-grid-rows: 2;
  position: relative;
}

.header-logo {
  width: 100%;
  width: 600px;
  a {
    width: 100%;
  }
  img {
    width: 100%;
  }
}

.header-main {
  padding: 40px 0;
  .padding-wrapper {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
}

.page-banner {
  height: 200px;
  height: 25vmax;
  background-color: #708090;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .header-logo {
    display: none;
  }
  .banner-content {
    margin-top: -120px;
    margin-bottom: 60px;
    .padding-wrapper {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      text-align: center;
      width: 100%;
      height: 100%;
    }
    h1 {
      margin: 0;
      color: #fff;
      font-size: 3em;
    }
  }
}

.page-banner.homepage {
  height: 400px;
  height: 40vmax;
  min-height: 300px;
  .header-logo {
    display: block;
  }
}

@media (max-width: 980px) {
  .page-banner.homepage {
    height: 500px;
    height: 50vmax;
  }
}

@media (max-width: 768px) {
  .page-banner.homepage {
    height: 700px;
    height: 70vmax;
    .banner-content {
      h1 {
        font-size: 2em;
      }
    }
  }
  .header-logo {
    width: 400px;
  }
}

@media (max-width: 580px) {
  .header-logo {
    width: 100%;
  }
}
