.site-main.homepage {
	padding-bottom: 0;
}

.homepage-intro.page-intro {
	padding: 80px 0 120px;
	font-size: 1.25em;
}

.services {
	padding-top: 0;
	margin-top: -130px;
	padding-bottom: 100px;
	.medium-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 20px;
		.service {
			text-align: center;
			.service-icon {
				border-radius: 100%;
				padding: 30px;
				border: 10px solid #fff;
				background-color: #fff;
				width: 140px;
				height: 140px;
				margin: 0 auto;
			}
			h4 {
				margin-top: 0;
				display: inline-block;
				border-bottom: 2px solid #eeb043;
				padding-bottom: 10px;
			}
		}
	}
}

.work-examples-section {
	text-align: center;
	h2 {
		margin-bottom: 40px;
	}
}

.work-examples {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	.work-example {
		box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
		border-radius: 5px;
		overflow: hidden;
		transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
		margin: 20px;
		&:hover {
			cursor: pointer;
			box-shadow: 0 10px 20px rgba(0, 0, 0, .16);
			transform: scale(1.05);
		}
		a {
			display: block;
			width: 100%;
			text-decoration: none;
			img {
				display: block;
			}
		}
		// h3 {
		// 	text-align: center;
		// 	padding: 10px;
		// 	margin: 0;
		// 	color: #fff;
		// 	background-color: #708090;
		// }
	}
}

.cta {
	text-align: center;
	background-color: #708090;
	padding: 60px 0;
	color: #fff;
	h2 {
		border: 0;
		display: block;
	}
}

.page-links-section {
	text-align: center;
	h2 {
		margin-bottom: 40px;
	}
	.page-links {
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		.page-link {
			margin: 20px;
			img {
				height: 225px;
				width: 225px;
				margin-bottom: 20px;
			}
		}
	}
}

@media (max-width: 1400px) {
	.work-examples {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 980px) {
	.homepage-intro.page-intro {
		padding: 60px 0;
	}
	.services {
		padding-top: 0;
		margin-top: 0;
		padding-bottom: 100px;
		.medium-wrapper {
			display: block;
			.service {
				max-width: 800px;
				margin: 0 auto 60px;
			}
		}
	}
	.page-links-section {
		padding-bottom: 60px;
		.page-links {
			display: block;
			.page-link {
				margin: 20px 0 100px;
				img {
					display: block;
					margin: 0 auto 20px;
					height: 225px;
					width: 225px;
				}
			}
		}
	}
}

@media (max-width: 680px) {
	.work-examples {
		display: block;
		.work-example {
			margin: 0 0 40px;
		}
	}
}