.mobile-navigation {
  padding: 0 30px 30px;
}

.toggle-sidebar {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.25em;
  transition: 150ms ease-in-out;
  font-weight: 400;
  position: relative;
  z-index: 3;
  &:hover {
    background-color: #fff;
    cursor: pointer;
    transform: translateY(-2px);
    .hamburger-label {
      color: #708090;
    }
    .hamburger span {
      background-color: #708090;
    }
  }
}

.hamburger-label {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
}

.hamburger {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 25px;
  padding-top: 3px;
  span {
    vertical-align: top;
    display: flex;
    position: relative;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    top: 0;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 6px;
    }
    &:nth-child(3) {
      top: 12px;
    }
  }
}

/* The side navigation menu */

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #eee;
  transform: translate3d(400px, 0, 0);
  transition: all 160ms cubic-bezier(0.82, 1.02, 0.84, 1.01) 0s;
  max-width: 400px;
}

.sidenav-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.sidenav-open {
  transform: translateX(0);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
}

.nav-open .site-main::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  transition: all 300ms;
}

#sidebar {
  text-align: left;
  height: 100%;
  max-width: 400px;
  ul {
    padding: 0;
    transition: all 1s;
    margin-top: 0;
    li:not(.menu-category) {
      display: block;
      transition: padding 250ms;
      &:hover {
        a {
          color: #708090;
          padding-left: 40px;
        }
      }
      a {
        text-decoration: none;
        display: inline-block;
        transition: 0.3s;
        font-size: 1.25em;
        width: 100%;
        padding: 10px 20px;
        color: #333;
      }
    }
  }
}

/* The navigation menu links */

.offcanvas a:focus {
  color: #f1f1f1;
}

.mobile-nav-header {
  position: relative;
  width: 100%;
}

#sidebar .menu-category {
  list-style: none;
  margin: 10px 0 5px;
  a {
    padding-left: 0;
    font-size: 1.25em;
  }
}

.close-sidenav {
  padding: 10px;
  text-align: right;
}

.closebtn {
  z-index: 3000;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  line-height: 1;
  margin: 20px 0;
  img {
    height: 30px;
    width: 30px;
    transition: transform 150ms;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 680px) {
  .sidenav {
    transition: all 0.25s;
  }
  #sidebar a {
    font-size: 18px;
  }
}

@media (max-width: 580px) {
  .mobile-menu {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .sidenav {
    width: 100%;
    max-width: 400px;
  }
}
