.page-content {
  .wp-caption {
    max-width: 100%;
  }
  .wp-caption-text {
    margin-top: -20px;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 40px;
    font-style: italic;
    font-size: .875em;
  }
  img {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
