body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  margin-top: 0;
}

h1, h2 {
  font-weight: 700;
}

h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  margin: 10px 0;
  line-height: 1.6;
  font-size: 1.125em;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 40px;
}

h2 + h3 {
  margin-top: 20px;
}

h1 {
  line-height: 1.43;
}

h2 {
  font-size: 2.25em;
  display: inline-block;
  border-bottom: 2px solid #EFBE66;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.125em;
}

.site-main a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.site-main h2 {
  line-height: 1.2;
}

.site-main li {
  padding: .25em 0;
  font-size: 1.125em;
}

section p {
  font-size: 1.25em;
}

@media (max-width: 768px) {


}
