@import 'variables';

.button {
  padding: 20px 30px 15px;
  text-decoration: none;
  border: 0;
  border-radius: 30px;
  min-width: 200px;
  font-family: 'Vesper Libre', serif;
  line-height: 1;
  text-align: center;
  transition: background-color 150ms, transform 150ms;
  &:hover,
  &:focus {
    cursor: pointer;
    transform: translateY(-2px);
  }
}

.button--accent {
  background-color: $yellow;
  color: #fff;
  &:hover,
  &:focus {
    background-color: $faded-yellow;
  }
}

.button--ghost {
  background-color: $light-blue-transparent;
  &:hover,
  &:focus {
    background-color: $light-blue;
  }
}

.scroll-button {
  display: inline-block;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  line-height: 1;
  img {
    height: 20px;
    width: 20px;
  }
}

blockquote {
  border-left: 15px solid #eee;
  margin: 20px 0;
  padding-left: 40px;
}

.page-header {
  padding: 0 0 60px;
}

.post-items {
  .post {
    padding-bottom: 4em;
  }
}

.page-links,
.post-items .post {
  margin: 1.5em 0 0;
}

.search-form {
  margin-top: 1.5em;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  input {
    min-width: 300px;
    padding: 10px 20px;
    margin: 0 10px 0 0;
  }
}

.segment {
  box-shadow: 0 6px 12px rgba(4, 6, 9, 0.25), 0 10px 40px rgba(4, 6, 9, 0.19);
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  color: inherit;
  transition: background-color 250ms ease-out, color 250ms ease-out, transform 250ms ease-out;
  .post {
    padding-bottom: 0;
    margin-top: 0;
  }
  .segment__header {
    margin-top: 0;
    position: relative;
    padding-bottom: 15px;
    transition: color 250ms ease-out;
    &::after {
      content: '';
      height: 2px;
      background-color: $yellow;
      width: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
    }
  }
  &:hover,
  &:focus {
    background-color: $blue;
    color: #fff;
    cursor: pointer;
    transform: translateY(-6px);
    .segment__header {
      color: #fff;
    }
  }
}
