.full-image-background {
  min-height: 400px;
  min-height: 40vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    background-color: rgba(110, 136, 152, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    content: '';
  }
}

footer {
  background-color: #eee;
  padding: 10px 0;
  .padding-wrapper {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }
  .credits a {
    text-decoration: underline;
    text-decoration-skip: ink;
  }
  .legal p {
    margin: 0;
  }
  .social {
    margin-left: auto;
  }
  .social-icon {
    margin-right: 5px;
    svg {
      color: $gray;
      width: 30px !important;
      height: 30px;
      margin-top: 5px;
    }
  }
}

.footer__contact {
  padding: 60px 5%;
  text-align: center;
  p {
    margin-bottom: .5rem;
  }
}

.footer__logo {
  max-width: 400px;
  margin-bottom: 40px;
}

@media (max-width: 780px) {
  .full-image-background {
    min-height: 40vh;
  }
}
