@import 'variables';

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
  &:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
}

#content[tabindex='-1']:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*='wp-image-'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.wp-caption .wp-caption-text {
  padding: 0.8075em;
  font-style: italic;
  background-color: #f5f5f5;
  margin: 0;
  font-size: .875em;
  line-height: 1.2;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration-skip: ink;
  color: $blue;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
  &:focus {
    background-color: #fff;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow: auto;
    padding: 0.5em 1em;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
  }
}
