.header-main {
  .flex-wrapper {
    align-items: center;
    -webkit-align-items: center;
  }
}

.header-logo {
  width: 360px;
  a {
    width: 100%;
  }
  img {
    width: auto;
    height: 100%;
  }
}

.header-logo-mark {
  display: none;
}

.page-banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  height: auto;
  min-height: 600px;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  padding: 40px 5%;
  &.subpage {
    height: 400px;
    height: 40vh;
    min-height: 40vh;
  }
}

.hero__body {
  flex: 1;
  padding: 6em 0;
  width: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  h2 {
    color: #fff;
    transition: transform 150ms;
    animation-delay: 0.65s;
  }
  p {
    font-weight: 400;
    animation-delay: 0.85s;
  }
  .button {
    margin: 1.5rem 10px 0;
    color: inherit;
  }
  .hero__button--wrapper {
    animation-delay: 1s;
  }
}

.hero__callout {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  margin-bottom: 5em;
}

@media (max-width: 780px) {
  .hero__body {
    padding: 4em 0;
  }
}

@media (max-width: 680px) {
  .header-logo {
    display: none;
  }
  .hero__header {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }
  header {
    width: 100%;
  }
  .header-logo-mark {
    display: block;
    width: 100%;
    max-width: 60px;
    margin-right: 20px;
    a {
      display: block;
    }
    img {
      width: 100%;
      display: block;
    }
  }
}
