@import 'variables';

.light-background {
  background-color: $light-gray;
}

.dark-background {
  background-color: $blue;
  color: #fff;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}

.text-center {
  text-align: center;
}
