.quicklinks {
  padding: 0 40px;
  transform: translateY(-100px);
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

.card {
  background-color: #fff;
  min-height: 400px;
  padding: 40px 20px;
  border-radius: 10px;
  width: 30%;
  margin: 0 15px;
  box-shadow: 0 0 57px rgba(4, 6, 9, 0.25);
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center;
  .card__heading {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Vesper Libre', serif;
    p {
      margin-bottom: 0;
    }
  }
  .card__icon {
    width: 80px;
    height: 80px;
  }
  .card__body {
    flex: 1 0 auto;
    p {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1140px) {
  .quicklinks {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .card {
    width: 100%;
    min-height: 0;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin: 0 0 20px;
    padding: 40px;
    .card__icon {
      margin-right: 40px;
      flex-shrink: 0;
    }
    .card__heading {
      margin-right: 40px;
      flex: 1 0 auto;
      display: flex;
      text-align: left;
      p {
        margin-top: 0;
      }
    }
    .card__heading--underlined {
      display: inline-block;
      position: relative;
      padding-bottom: 15px;
      &::after {
        content: '';
        height: 2px;
        background-color: $yellow;
        width: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        margin: 0;
      }
    }
    .card__body {
      flex: 0 1 50%;
      text-align: left;
      p {
        margin-top: 0;
      }
    }
  }
}

.pathways {
  .pathways__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    min-height: 450px;
    display: flex;
    display: -webkit-flex;
    &::after {
      background-color: rgba(110, 136, 152, 0.5);
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      content: '';
    }
    &:first-of-type::before {
      content: url('img/gray-curved-left.svg');
      position: absolute;
      bottom: -12px;
      right: -5px;
      width: 60%;
      height: auto;
      z-index: 1;
    }
    &:last-of-type::before {
      content: url('img/gray-curved-right.svg');
      position: absolute;
      top: -4px;
      left: -5px;
      width: 60%;
      height: auto;
      z-index: 1;
    }
    &:last-of-type .flex-wrapper {
      flex-direction: row-reverse;
    }
  }
  .pathways__heading {
    text-align: center;
  }
  .flex-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  .pathways__block {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 50%;
    padding: 0 40px;
    div {
      text-align: center;
    }
  }
  .pathways__heading {
    display: inline-block;
    position: relative;
    padding-bottom: 15px;
    color: #fff;
    margin-top: 0;
    &::after {
      content: '';
      height: 2px;
      background-color: $yellow;
      width: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: 0 auto;
    }
  }
  .divider {
    font-family: 'Vesper Libre', serif;
    font-size: 2em;
    text-align: center;
    padding-top: 5px;
    position: relative;
    z-index: 1;
    background-color: #eee;
  }
  .button--accent {
    min-width: 300px;
    margin: 0 auto;
  }
  .pathways__description {
    color: #fff;
    font-weight: 400;
    max-width: 800px;
  }
}

@media (max-width: 1140px) {
}

@media (max-width: 980px) {
  .card {
    width: 100%;
    min-height: 0;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin: 0 0 20px;
    padding: 40px;
    flex-wrap: wrap;
    .card__icon {
      margin-right: 40px;
      flex-basis: 60px;
    }
    .card__heading {
      flex: 1 0 1;
    }
    .card__body {
      margin-top: 0.5rem;
      flex: 1 0 auto;
      width: 100%;
    }
  }
}

@media (max-width: 780px) {
  .pathways {
    .flex-wrapper {
      flex-direction: column;
    }
    .pathways__item:last-of-type .flex-wrapper {
      flex-direction: column;
    }
    .pathways__block {
      width: 100%;
      align-items: center;
      -webkit-align-items: center;
    }
    .pathways__description {
      text-align: center;
    }
    p {
      margin-bottom: 0;
    }
  }
}

@media( max-width: 680px) {
  .pathways {
    .pathways__item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden;
      &::after {
        background-color: rgba(110, 136, 152, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        content: '';
      }
      &:first-of-type::before {
        content: url('img/gray-curved-left.svg');
        position: absolute;
        bottom: -10px;
        right: -5px;
        width: 400px;
        height: auto;
        z-index: 1;
      }
      &:last-of-type::before {
        content: url('img/gray-curved-right.svg');
        position: absolute;
        top: -2px;
        left: -5px;
        width: 400px;
        height: auto;
        z-index: 1;
      }
    }
  }
}

@media (max-width: 480px) {
  .card {
    display: block;
    .card__icon {
      margin: 0 auto 20px;
    }
    .card__heading {
      text-align: center;
      display: block;
      margin: 0 auto 20px;
    }
    .card__heading--underlined:after {
      content: '';
      height: 2px;
      background-color: #e2c351;
      width: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: 0 auto;
    }
    .card__body {
      text-align: center;
    }
  }
}