.padding-wrapper {
  padding: 0 5%;
}

.medium-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.small-wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.text-wrapper {
  max-width: 840px;
  margin: 0 auto;
}

.subpage {
  padding: 60px 0;
}

.content-block {
  padding: 100px 0;
}

.block-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-wrapper {
  display: flex;
  display: -webkit-flex;
}

.content-area {
  padding: 80px 0;
}
