.work-examples {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-backface-visibility: hidden;
  .work-example {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
    border-radius: 5px;
    transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
    margin: 20px;
    &:hover {
      cursor: pointer;
      box-shadow: 0 10px 20px rgba(0, 0, 0, .16);
      transform: scale(1.05);
    }
    a {
      display: block;
      width: 100%;
      text-decoration: none;
      img {
        display: block;
      }
    }
    // h3 {
    //  text-align: center;
    //  padding: 10px;
    //  margin: 0;
    //  color: #fff;
    //  background-color: #708090;
    // }
  }
}

.entry-header a {
  text-decoration: none;
  color: #333;
}

@media (max-width: 1400px) {
  .work-examples {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  .work-examples {
    display: block;
    .work-example {
      margin: 0 0 40px;
    }
  }
}